body{
    margin:0;
    padding:0;
    background:#0f172a;
    font-family:Arial;
    color:white;
}

.container{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:40px;
    padding:50px;
    flex-wrap:wrap;
}

.calculator{
    width:350px;
    background:#1e293b;
    padding:20px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.calculator h1{
    text-align:center;
    margin-bottom:20px;
}

#display{
    width:100%;
    height:60px;
    margin-bottom:20px;
    font-size:28px;
    text-align:right;
    border:none;
    border-radius:10px;
    padding:10px;
    background:#e2e8f0;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    height:60px;
    border:none;
    border-radius:10px;
    font-size:22px;
    cursor:pointer;
    background:#334155;
    color:white;
    transition:0.3s;
}

button:hover{
    background:#475569;
    transform:scale(1.05);
}

.equal{
    grid-column:span 2;
    background:#38bdf8;
}

.history{
    width:300px;
    background:#1e293b;
    padding:20px;
    border-radius:20px;
}

.history h2{
    text-align:center;
}

.history ul{
    list-style:none;
    padding:0;
}

.history li{
    padding:10px;
    border-bottom:1px solid #475569;
}
